:root {
    --primary-accent-color: #2196F3;
    --main-text-color: #757575;
    --secondary-accent-color: #188CE8;
    --main-bcg-color: #FFFFFF;
    --secondary-bcg-color: #F5F4FA;
    --footer-color: #2F303A;
    --h-text-color:#212121;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }
  